<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>985797456003-tv5a6dv60p7sdq628hulj17d5c9u5j8j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.985797456003-tv5a6dv60p7sdq628hulj17d5c9u5j8j</string>
	<key>API_KEY</key>
	<string>AIzaSyBkXkjLAA7QOw_dSJaQIFOyyJu5t9-NTEU</string>
	<key>GCM_SENDER_ID</key>
	<string>985797456003</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>welliton.todoList</string>
	<key>PROJECT_ID</key>
	<string>todoswiftui-74fcd</string>
	<key>STORAGE_BUCKET</key>
	<string>todoswiftui-74fcd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:985797456003:ios:bc542fe6a346052101abb6</string>
</dict>
</plist>